fastapi
uvicorn 
beautifulsoup4
httpx
requests
openai
langchain
langchain-community
langchain-core
langchain-openai
llama-index
llama-index-embeddings-gemini
llama-index-llms-openai
qdrant-client
pydantic-settings
html2text
pdfplumber
pymupdf4llm