fastapi
uvicorn 
beautifulsoup4
httpx
requests
asyncpg
sqlalchemy
sqlmodel
psycopg2-binary
redis
alembic
pydantic-settings
pydantic[email]
fastapi-limiter
fastapi-sso
python-jose
passlib
python-multipart
llama-index
llama-index-llms-openai
llama-index-vector-stores-qdrant
llama-index-storage-chat-store-redis
llama-index-tools-tavily-research
qdrant-client
tenacity
llama-index-embeddings-fastembed
fastembed == 0.7.4