fastapi
uvicorn 
beautifulsoup4
httpx
requests
asyncpg
sqlalchemy
sqlmodel
psycopg2-binary
alembic
pydantic-settings
pydantic[email]
fastapi-sso
python-jose
passlib
openai
llama-index
llama-index-llms-openai
llama-index-vector-stores-qdrant
llama-index-storage-chat-store-redis
qdrant-client
html2text
pdfplumber
pymupdf4llm
tenacity
#llama-index-embeddings-huggingface
#transformers
llama-index-embeddings-fastembed
fastembed == 0.5.1
